@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');

* {
	margin: 0px;
	padding: 0px;
	box-sizing: border-box;
}

body {
	font-family: 'lato', Arial, sans-serif;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	text-decoration-color: #f2f2f2;
}

main {
	display: flex;
	flex-direction: column;
	background-color: #0a0a0a;
	flex: 1 0 auto;
}

.navbar {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	background-color: #000000cc;
	padding: 10px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	z-index: 1000;
}

.logo {
	color: #fff;
	font-size: 1.5rem;
	font-family: 'oswald', Arial, sans-serif;
	font-weight: 400;
	letter-spacing: 2px;
}

.nav-links {
	list-style-type: none;
}

.nav-links li {
	display: inline-block;
	margin-right: 20px;
}

.nav-links li a {
	color: #fff;
	text-decoration: none;
}

#menu-toggle,
.menu-icon {
	display: none;
}

.home-section {
	display: flex;
	height: 700px;
	width: 100%;
	background: url(../images/home-cover.webp) no-repeat center center/cover;
	background-color: #f2f2f2;
}

#cover-text {
	font-family: 'oswald', Arial, sans-serif;
	text-align: left;
	background-color: #131313b3;
	color: #f2f2f2e5;
	position: absolute;
	font-size: 180%;
	bottom: 200px;
	top: 280px;
	max-height: fit-content;
	width: 300px;
	right: 100px;
	padding-top: 20px;
	padding-left: 10px;
}

#cover-text em {
	font-size: 150%;
}

#cover-text h3 {
	font-size: 100%;
}

#gallery h2 {
	visibility: hidden;
	color: #f2f2f2;
	font-size: 400%;
	text-align: center;
	padding-top: 80px;
}

.gallery-section {
	display: flex;
	flex-direction: column;
	padding: 20px 20px;
}

.gallery-links {
	list-style-type: none;
}

.gallery-links li {
	margin-bottom: 10px;
	display: block;
	width: 100%;
	height: 380px;
	font-size: 350%;
}

.gallery-links a:hover {
	border: 1px solid #fff;
}

.gallery-links li a {
	font-family: 'oswald', Arial, sans-serif;
	display: block;
	color: #1f1f1fc9;
	text-decoration: none;
	text-align: start;
	padding-left: 10px;
	padding-top: 120px;
	letter-spacing: 10px;
	width: inherit;
	height: inherit;
}

#landscapes {
	background: url(../images/landcape-cover.webp) no-repeat center/cover;
}

#ai_experiments {
	background: url(../images/ai-cover.webp) no-repeat center/cover;
	color: #f2f2f2b0;
}

#portraits {
	background: url(../images/Portrait-cover.webp) no-repeat center/cover;
}

.about-section {
	background-color: #131313b3;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	padding: 20px;
	height: 550px;
	margin: 20px 500px 50px 500px;
}

.about-section div {
	color: #f2f2f2;
	text-align: center;
	letter-spacing: normal;
	word-spacing: 2px;

}

.contact-section {
	height: 500px;
	background-color: #131313b3;
	padding: 20px 20px;
	margin: 20px 500px 50px 500px;
	color: #f2f2f2;
}

.contact-section h2 {
	text-align: center;
	margin-bottom: 40px;
}

.contact-section label {
	display: block;
	margin-bottom: 5px;
}

.contact-section input[type="text"],
.contact-section input[type="email"],
.contact-section textarea {
	width: 100%;
	padding: 10px;
	margin-bottom: 10px;
}

.contact-section input[type="submit"] {
	background-color: #333;
	color: #fff;
	border: none;
	padding: 10px 20px;
	cursor: pointer;
}

.gallery {
	margin: 5%;
}

.galleryphotos {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	line-height: 0;
}

.galleryphotos img {
	max-width: 30%;
	line-height: 1em;
	padding: 2px;
}

.footer {
	background-color: #0a0a0a;
	color: #f2f2f2;
	text-align: right;
	padding: 0px 5px 0 0;
	margin: 0;
}

.social-networks {
	width: 100%;
	padding: 15px;
	padding-top: 30px;
	display: flex;
	justify-content: space-around;
	list-style-type: none;
}

#copyright {
	visibility: hidden;

}

.social-networks i {
	font-size: 160%;
	padding: 5%;
	color: #fff;
}

/* Adjesting boxes for laptops */
@media screen and (max-width: 1368px) {

	.about-section {
		margin: 20px 100px 50px 100px;
	}

	.contact-section {
		margin: 20px 100px 50px 100px;

	}
}

/* Adjesting sizes to fit devices smaller than laptops */
@media screen and (max-width: 768px) {
	.nav-links {
		display: none;
		text-align: right;
		padding: 20px;
		background-color: #33333399;
		position: absolute;
		top: 55px;
		left: 0;
		width: 100%;
		z-index: 1;
	}

	.nav-links li {
		display: block;
		margin-bottom: 10px;
	}

	.nav-links li a {
		color: #fff;
		text-decoration: none;
	}

	#menu-toggle:checked~.nav-links {
		display: block;
	}

	.menu-icon {
		display: block;
		cursor: pointer;
		color: #fff;
		font-size: 24px;
		float: right;
		margin-right: 20px;
	}

	#cover-text {
		background-color: #1d1d1d56;
		color: #f2f2f26e;
		width: min-content;
	}

	.gallery-links {
		font-size: 60%;
	}

	.about-section {
		margin: 20px 20px 50px 20px;
		height: fit-content;
	}

	.contact-section {
		margin: 20px;
	}

	.contact-section input[type="text"],
	.contact-section input[type="email"],
	.contact-section textarea {
		width: 100%;
		padding: 10px;
		margin-bottom: 10px;
	}

	.galleryphotos img {
		display: inline;
		text-align: center;
		column-count: 2;
		max-width: 100%;
		column-gap: unset;
		padding: 20px 10px 0px;
	}

}

/* Adjesting a size of a spesifec title for mobile devices */
@media screen and (max-width: 479px) {

	.gallery-links {
		margin-left: 0px;
		font-size: 40%;
		font-weight: 800;
	}

	#cover-text {
		font-size: 110%;
	}

}

/* Adjesting a size of a spesifec title for smaller mobile devices */
@media screen and (max-width: 264px) {

	.gallery-links {
		font-size: 20%;
	}

	#cover-text {
		font-size: 110%;
	}

}